
@import url('https://fonts.googleapis.com/css?family=Roboto|Taviraj');
* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
body{ 
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
h3{
	font-family:'Roboto', sans-serif;
	font-size: 15pt;
	color: #FF342D;
	text-align: right;
	padding: 15px 0;
}
nav{
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
header{
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
 }
article{
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer{
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
section{
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
 }
aside{
    background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
 }
#hero{
	padding: 15px 0;
}
h1{
	text-align: center; 
	color: #28D1FF; 
	font-size: 30px
}
h2{ 
	font-size: 10px;
	text-align: center;
	font-style: thin;
	color: #000;
	letter-spacing: 3px;
}
.shout{
	text-transform: uppercase;
	font-size: 24px;
	font-weight: bold;
	color: #FF342D;
	font-family: 'Roboto', sans-serif;
	text-align: left;
}
p { 
	text-align: left; 
	color: #28D1FF; 
	font-family: 'Taviraj', serif;
	font-weight: thin;	
}
.lister{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline; 
	color: #FF342D;
	font-family: 'Roboto', sans-serif;
}
.body{
	font-size: 18px;
	line-height: 1.5em;
	margin: 15px;
	font-weight: thin;
}
ul {
	color: #28D1FF; 
	padding-left: 32px;
	padding-top: 5px;
	font-family: 'Taviraj', serif;
}
#headerbox{ 
	background-color: #FF342D;
	margin: auto;
	padding: 0;
	border: 0px;
	height: 2px;
	width: 365px;
}
#box{ 
	background-color: #FF342D;
	border: 0px;
	height: 2px;
	width: 450px;
}
#footer{
	padding-top: 25px;
	text-align: center;
}