* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

body{ 
	background-color: #ffffff;
	background-image: url(../images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

h1{
	text-align: left; 
	color: #28D1FF; 
	font-family: Helvetica;
	font-size: 30px
}

#slogan{ 
	color: #28D1FF;
	letter-spacing: 3px;
}

.shout{
	text-transform: uppercase;
	font-weight: bold;
	color: #FF563A;
}

p { 
	text-align: center; 
	color: #28D1FF; 
	font-family: Helvetica;	
}

.lister{
	text-align: left;
	font-weight: bold;
	text-decoration: underline; 
	color: #FF342D;
}

.body{
	font-family: Garamond;
	font-size: 12px;
	line-height: 1.5em;
	margin: 15px;
}

ul {
	color: #FF3333; 
	font-family: Helvetica;
	padding: 40px;
}

hr{ 
	height: 10px;
	background-color: #FF3333;
	border: 0px;
}